// Custom styles.

/* 背景图 + 透明 */
body {
    background-image:url(/images/background/20180830_1.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
}

.main-inner {
    opacity: 1;
}


/* 一言 */
.sidebar {
	background: rgba(0, 0, 0, 0);
}


/* 折叠代码块 */
.hider_title{
    font-family: "Microsoft Yahei";
    cursor: pointer;
}
.close:after{
    content: "▼";
}
.open:after{
    content: "▲";
}
